<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
    </head>

    <link rel="stylesheet" type="text/css" href="/static/css/style.css">

<body>
    <nav>
        <a href="/">Main Blog Page</a>
        <img src="/static/stargate.png" alt="Stargate Icon" style="width:100px;height:50px;" />
        <a href="/newpost">Add a Blog Entry</a>
    </nav>
    <div>
    {% with messages = get_flashed_messages() %}
        {% for message in messages %}
            <div class="flash_message">{{message|safe}}</div>
        {% endfor %}
    {% endwith %}</div>

    {% block content %}
    {% endblock %}

</body>
</html>
