{% extends "base.html" %}

{% block content %}
    <h1>Add a Blog Entry</h1>
    <form method='post'>
        <label>
            Title for your new Blog:
            <input type="text" name='title' />
        </label>
        <label>
            Your New Blog:
            <input type="text" name='body' />
        </label>
        <input type="submit" value='Post Blog' />
    </form>

    <hr />

    {% if blogs|length == 0 %}
    <p>No Blogs yet</p>
    {% else %}

    <ul>
        {% for blog in blogs %}
        <li>{{blog.name}}
            <form method="POST" action="/newpost" style="display:inline-block;">
                <input type="hidden" name="blog-id" value="{{blog.id}}" />
                <input type="submit" value="Done!" />
            </form>
        </li>
        {% endfor %}
    </ul>

    {% endif %}
{% endblock %}